@import "desktop1.css";

header{
  width: 500px;
  height: auto;
}

h1{
  font-size: 75px;
}

main{
  width: 500px;
}

footer{
  width: 500px;
}

nav{
  width: 380px;
  display: block;
  text-align: center;
}

nav ul li{
  display: block;
  text-align: center;
}

img{
  width: 500px;
  display: block;
}
